<nav class="site-nav fixed-nav-active">
  <div class="site-nav-left-wrapper">
    <div class="site-nav-left">
      {{#if @site.logo}}
      <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
      {{else}}
      <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
      {{/if}}
      <div class="site-nav-content">
        <ul class="nav" role="menu">
          <li class="nav-index" role="menuitem">
            <a href="/">首页</a>
          </li>
          <li class="nav-location" role="menuitem">
            <a href="/locations">景点</a>
            <div class="nav-sublevel">
              <a href="/locations#saiban-a">塞班岛</a>
              <a href="/locations#tianyu-a">天宁岛</a>
              <a href="/locations#luota-a">罗塔岛</a>
              <a href="/locations#hot-a">主题玩法</a>
            </div>
          </li>
          <li class="nav-activity" role="menuitem">
            <a href="/activity">活动</a>
            <div class="nav-sublevel">
              <a href="/index/event_calendar.html#activitytime">活动日历</a>
              <a href="/index/activity.html#a1">美式节庆</a>
              <a href="/index/activity.html#a2">文化活动</a>
              <a href="/index/activity.html#a3">精彩赛事</a>
            </div>
          </li>
          <li class="nav-activity" role="menuitem">
            <a href="/">攻略</a>
            <div class="nav-sublevel">
              <a href="/index/community.html#a1">食在马里亚纳</a>
              <a href="/index/community.html#a2">住在马里亚纳</a>
              <a href="/index/community.html#a3">行在马里亚纳</a>
              <a href="/index/community.html#a4">游记</a>
              <a href="{{asset '/uploads/TheMarianasGuideBook.pdf'}}">出行攻略下载</a>
              <a href="{{asset '/uploads/TheMarianasMembershipslist.pdf'}}">会员商家下载</a>
              <a href="{{asset '/uploads/TheMarianasdivingmap.pdf'}}">潜水地图下载</a>
              <a href="{{asset '/uploads/TheMarianastravelmaps.pdf'}}">旅游地图下载</a>
            </div>
          </li>
          <li class="nav-activity" role="menuitem">
            <a href="/dynamics">动态</a>
            <div class="nav-sublevel">
              <a href="/index/news.html#ours">最新动态</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="site-nav-right">
    <ul class="nav" role="menu">
      <li class="nav-yu-yan-jian-ti-zhong-wen nav-current" role="menuitem">
        <a href="javascript:void(0);">语言：简体中文</a>
        <div class="nav-sublevel">
          <a href="http://www.mymarianas.co.kr/html/main/main.asp">한국어</a>
          <a href="http://japan.mymarianas.com">日本語</a>
          <a href="http://www.mymarianas.ru">Русский язык</a>
          <a href="http://www.mymarianas.com">English</a>
          <a href="https://www.mymarianas.com.tw/">繁體中文</a>
        </div>
      </li>
  </div>
</nav>