{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> site-header}}

<div class="inner">
  <img src="{{asset 'imgs/sbanner.jpg'}}" alt="">
</div>

<div class="inner">
  <div class="s-list">
    <ul>
      <li>分类</li>
      <li><a href="#a2">出行</a></li>
    </ul>
  </div>

  <div class="s-info" id="a1">
    <h3>罗塔 · 出行</h3>
    <ul class="clearfix">
      <li data-id="49">
          <img src="{{asset 'news/1531057589.png'}}" alt="">
          <p><span>罗塔出行</span></p>
      </li>          
    </ul>
  </div>
</div>
<div class="window">
  <div class="win-info clearfix">
    <div class="w-list">
      <ul id="right_img">
        <!-- 右侧小图 -->
        <li><img src="{{asset 'imgs/w1.jpg'}}" alt=""></li>
      </ul>
    </div>
    <div class="bw-list">
      <ul id="big_img">
        <!-- 展示大图 -->
        <li><img src="{{asset 'imgs/w1.jpg'}}" alt=""></li>
      </ul>
    </div>

    <div class="close"><img src="{{asset 'imgs/close.png'}}" alt=""></div>
  </div>
  <div class="bs-list">
    <ul id="infoss">
    </ul>
  </div>
</div>

{{#contentFor "scripts"}}
<script>
  var database = {
    49: { id: '49', number: '0', title: '罗塔出行', en_title: '罗塔出行', img: '{{asset 'news/1531057589.png'}}', detail: '', time: '2018-07-08', top: '0', hot: '0', statu: '1', level: '0', level_text: '', remark: '罗塔距离塞班135公里，乘坐轻型飞机的航程约30分钟。每天有三班Star Marianas Air的航班从塞班飞往罗塔。罗塔岛上没有公共交通，租车或酒店接驳车是仅有的出行方式。机场外就有租车网点，\n' + '凭护照与驾照即可租车。罗塔度假乡村俱乐部也向游客提供租车代理服务。租车费用一天\n' + '70美元起。Rent-A-Car +1 670 532 0901 安飞士租车 +1 670 532 2828', phone: '', mail: '', address: '', img_1: '{{asset 'news/list.jpg'}}', img_2: '{{asset 'news/list.jpg'}}', img_3: '{{asset 'news/list.jpg'}}', img_4: null, img_5: null, class_id: '7', community_id: '3', island: '3'
}
,
  }
  $(".s-info li").click(function () {
    var id = $(this).attr("data-id");
    var img = '';
    var data = database[id]
    if (data.img_1 !='{{asset 'news/list.jpg'}}') {
      img += '<li name="' + data.id + '"><img src="' + data.img_1 + '" alt=""></li>';
    }
    if (data.img_2 !='{{asset 'news/list.jpg'}}') {
      img += '<li ><img src="' + data.img_2 + '" alt=""></li>';
    }
    if (data.img_3 !='{{asset 'news/list.jpg'}}') {
      img += '<li ><img src="' + data.img_3 + '" alt=""></li>';
    }

    var info = '<li> <div class="w-info"><h3>' + data.title + '</h3> <div class="xinxix"><span>T: ' + data.phone + '</span><span>ADD: ' + data.address + '</span><span>Saipan, MP 96950</span></div><p>' + data.remark + '</p><a href=""></a></div></li>';

    //替换内容
    $("#right_img").html(img);
    $("#big_img").html(img);
    $("#infoss").html(info);
    aa();

    $(".window").show();
  })

  function aa() {
    $(".w-list li").hover(function () {
      var index = $(this).index();
      // $(".bs-list li").hide();
      $(".bs-list li").eq(index).show();
      $(".bw-list li").hide();
      $(".bw-list li").eq(index).show();
    })

    $(".window .close").click(function () {
      $(".window").hide();
    })
  }
</script>
{{/contentFor}}