{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> site-header}}

<div class="inner">
  <img src="{{asset 'imgs/xbanner.jpg'}}" alt="">
</div>

<div class="inner">
  <div class="s-list">
    <ul>
      <li>分类</li>
      <li><a href="#a2">美食</a></li>
    </ul>
  </div>

  <div class="s-info" id="a1">
    <h3>罗塔 · 美食</h3>
    <ul class="clearfix">
      <li data-id="30">
          <img src="{{asset 'news/1531053365.jpg'}}" alt="">
          <p><span>BBQ House & Restaurant</span></p>
      </li><li data-id="29">
          <img src="{{asset 'news/1531053183.jpg'}}" alt="">
          <p><span>As Paris Restaurant</span></p>
      </li>
    </ul>
  </div>
</div>
<div class="window">
  <div class="win-info clearfix">
    <div class="w-list">
      <ul id="right_img">
        <!-- 右侧小图 -->
        <li><img src="{{asset 'imgs/w1.jpg'}}" alt=""></li>
      </ul>
    </div>
    <div class="bw-list">
      <ul id="big_img">
        <!-- 展示大图 -->
        <li><img src="{{asset 'imgs/w1.jpg'}}" alt=""></li>
      </ul>
    </div>

    <div class="close"><img src="{{asset 'imgs/close.png'}}" alt=""></div>
  </div>
  <div class="bs-list">
    <ul id="infoss">
    </ul>
  </div>
</div>

{{#contentFor "scripts"}}
<script>
  var database = {
    30: {"id":"30","number":"0","title":"BBQ House & Restaurant","en_title":"BBQ House & Restaurant","img":"{{asset 'news/1531053365.jpg'}}","detail":"","time":"2018-07-08","top":"0","hot":"0","statu":"1","level":"0","level_text":"","remark":"\u8fd9\u5bb6\u5b8b\u5b8b\u6751\u5185\u7684\u5f53\u5730\u5c0f\u5e97\u64c5\u957f\u5236\u4f5c\u5404\u79cd\u67e5\u83ab\u6d1b\u98ce\u683c\u7684\u7f8e\u98df\uff0c\u53d6\u6750\u65b0\u9c9c\uff0c\n\u7269\u7f8e\u4ef7\u5ec9\u3002\u5c24\u5176\u503c\u5f97\u63a8\u8350\u7684\u662f\u7528\u7f57\u5854\u65b0\u9c9c\u7684\u6930\u5b50\u5236\u6210\u7684\u73b0\u70e4\u6930\u8089\u6d3e\u3002","phone":"+1 670 532 2539","mail":"","address":"\u5b8b\u5b8b\u6751","img_1":"{{asset 'news/1531302695.jpg'}}","img_2":"{{asset 'news/1531302697.jpg'}}","img_3":"{{asset 'news/1531302700.jpg'}}","img_4":null,"img_5":null,"class_id":"2","community_id":"1","island":"3"},
    29: {"id":"29","number":"0","title":"As Paris Restaurant","en_title":"As Paris Restaurant","img":"{{asset 'news/1531053183.jpg'}}","detail":"","time":"2018-07-08","top":"0","hot":"0","statu":"1","level":"0","level_text":"","remark":"\u4e00\u5bb6\u53ef\u4ee5\u54c1\u5c1d\u67e5\u83ab\u6d1b\u4f20\u7edf\u6599\u7406\u7684\u9910\u5385\u3002\u725b\u8089\u5e72\u3001\u9e7f\u8089\u5e72\u3001\u84b8\u84dd\u9c7c\u7b49\u72ec\u7279\u7684\u83dc\u8272\u503c\u5f97\u4e00\u8bd5\u3002\u5728\u7279\u5b9a\u7684\u5b63\u8282\u8fd9\u91cc\u8fd8\u63d0\u4f9b\u72ec\u5177\u7279\u8272\n\u7684\u6930\u5b50\u87f9\u6599\u7406\u3002\u4e3b\u53a8\u662f\u83f2\u5f8b\u5bbe\u4eba\uff0c\u56e0\u6b64\u8fd9\u91cc\u4e5f\u80fd\u5403\u5230\u83f2\u5f8b\u5bbe\u83dc\u3002","phone":"+1 670 532 3356","mail":"","address":"\u5b8b\u5b8b\u6751","img_1":"{{asset 'news/1531302791.jpg'}}","img_2":"{{asset 'news/1531302821.jpg'}}","img_3":"{{asset 'news/1531302829.jpg'}}","img_4":null,"img_5":null,"class_id":"2","community_id":"1","island":"3"}
  }
  $(".s-info li").click(function () {
    var id = $(this).attr("data-id");
    var img = '';
    var data = database[id]
    if (data.img_1 != '{{ asset "news/list.jpg"}}') {
      img += '<li name="' + data.id + '"><img src="' + data.img_1 + '" alt=""></li>';
    }
    if (data.img_2 != '{{ asset "news/list.jpg"}}') {
      img += '<li ><img src="' + data.img_2 + '" alt=""></li>';
    }
    if (data.img_3 != '{{ asset "news/list.jpg"}}') {
      img += '<li ><img src="' + data.img_3 + '" alt=""></li>';
    }

    var info = '<li> <div class="w-info"><h3>' + data.title + '</h3> <div class="xinxix"><span>T: ' + data.phone + '</span><span>ADD: ' + data.address + '</span><span>Saipan, MP 96950</span></div><p>' + data.remark + '</p><a href=""></a></div></li>';

    //替换内容
    $("#right_img").html(img);
    $("#big_img").html(img);
    $("#infoss").html(info);
    aa();

    $(".window").show();
  })

  function aa() {
    $(".w-list li").hover(function () {
      var index = $(this).index();
      // $(".bs-list li").hide();
      $(".bs-list li").eq(index).show();
      $(".bw-list li").hide();
      $(".bw-list li").eq(index).show();
    })

    $(".window .close").click(function () {
      $(".window").hide();
    })
  }
</script>
{{/contentFor}}